
.main-header{
	background-color:$color1;
	width: 100%;
	position: fixed;
	z-index: 1000;
	.l-container{
		display: flex;
		justify-content: space-between;
		align-items:center;
	}
}

.logo{
	width:50%;
}
.icon-menumarker{
	color: $white;
	font-size: 1.5em;
	z-index: 1001;
	&:hover{
		cursor: pointer;
	}
}