
.main{
	&-nav{
		background-color: $color3;
		position: fixed;
		top:0;
		right: 0;
		right: -$offcanvas-width;
		width: $offcanvas-width;
		padding:1em;
		height: 100vh;
		z-index: 1000;
		transition:all 0.3s ease;
		&.mostrar{
			right: 0;
			animation:0.3s aparecer 1;
		}
		@include desde($large){
			height: 80px;
			width: 50% ;
			right: 0;
			transition: all 0s;
		}
	}
	&-menu{
		margin:0;
		padding: 0;
		list-style: none;
		@include desde($large){
			width: 100%;
			display: flex;
			justify-content: space-around;
			background-color: transparent;
		}
	}
	&-menu__item{
		border-bottom: 1px solid rgba($color1,.2);
		@include desde($large){
			border: 0;
			color: $white;
		}
	}
	&-menu__link{
		line-height: 2.7;
		display: block;
		text-transform: uppercase;
		font-family: $font-title;
		font-weight: $light;
		&:hover{
			color:$white;
		}
	}
}
@keyframes aparecer{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}